In [1]:
import pandas as pd

data = pd.read_csv('vehicle/vehicle_emission_dataset.csv')

data

,Vehicle Type,Fuel Type,Engine Size,Age of Vehicle,Mileage,Speed,Acceleration,Road Type,Traffic Conditions,Temperature,Humidity,Wind Speed,Air Pressure,CO2 Emissions,NOx Emissions,PM2.5 Emissions,VOC Emissions,SO2 Emissions,Emission Level
0,Motorcycle,Electric,2.747609,22,291288,49.083255,1.887738,Highway,Moderate,13.880458,52.883905,18.938861,955.411642,179.930088,1.085520,0.011548,0.096207,0.022936,Medium
1,Bus,Electric,5.743714,3,188398,23.460311,3.544147,City,Heavy,19.136947,5.697343,14.716526,1035.763062,250.505219,1.285628,0.187112,0.073321,0.028021,Medium
2,Bus,Hybrid,4.606368,17,281451,115.508350,4.646886,Highway,Free flow,8.123428,3.953116,18.644522,976.207064,404.979103,0.258189,0.132398,0.014744,0.075334,High
3,Truck,Electric,3.913024,4,151321,18.540217,3.581004,Rural,Heavy,35.994893,0.509678,11.951859,966.919462,463.568608,1.040956,0.166325,0.093490,0.025324,High
4,Truck,Hybrid,1.611297,15,91810,109.596566,3.879303,Highway,Moderate,14.793481,52.450884,2.761138,953.229351,79.514604,1.583390,0.078043,0.020396,0.024986,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Motorcycle,Electric,5.259811,1,67323,60.526870,1.665292,Highway,Moderate,0.107381,28.128314,9.221882,1034.277856,380.616106,0.977784,0.162235,0.089424,0.054463,High
9996,Bus,Diesel,5.467046,5,252851,114.120190,1.174369,City,Free flow,37.641697,20.696240,8.927107,958.678711,135.691599,0.338428,0.076185,0.077451,0.099687,Low
9997,Bus,Petrol,5.722881,8,44810,11.987215,0.598791,Highway,Free flow,35.140403,86.267431,15.105582,1020.702178,315.706170,1.265111,0.082554,0.052279,0.088755,High
9998,Bus,Hybrid,2.866938,2,58719,95.832661,1.475712,Rural,Heavy,-6.692706,64.800649,10.002372,1037.489415,210.794670,0.180733,0.062148,0.077239,0.055793,Medium
9999,Car,Petrol,1.929130,15,242020,40.137971,2.292448,Rural,Free flow,16.066580,46.849574,15.712252,992.132708,422.860000,1.962348,0.045526,0.089488,0.062835,High

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle Type        10000 non-null  object
 1   Fuel Type           10000 non-null  object
 2   Engine Size         10000 non-null  float64
 3   Age of Vehicle      10000 non-null  int64
 4   Mileage             10000 non-null  int64
 5   Speed               10000 non-null  float64
 6   Acceleration        10000 non-null  float64
 7   Road Type           10000 non-null  object
 8   Traffic Conditions  10000 non-null  object
 9   Temperature         10000 non-null  float64
 10  Humidity            10000 non-null  float64
 11  Wind Speed          10000 non-null  float64
 12  Air Pressure        10000 non-null  float64
 13  CO2 Emissions       10000 non-null  float64
 14  NOx Emissions       10000 non-null  float64
 15  PM2.5 Emissions     10000 non-null  float64
 16  VOC Emissions       10000 non-null  float64
 17  SO2 Emissions       10000 non-null  float64
 18  Emission Level      10000 non-null  object
dtypes: float64(12), int64(2), object(5)
memory usage: 1.4+ MB

In [3]:
data.shape

(10000, 19)

In [4]:
data.describe()

,Engine Size,Age of Vehicle,Mileage,Speed,Acceleration,Temperature,Humidity,Wind Speed,Air Pressure,CO2 Emissions,NOx Emissions,PM2.5 Emissions,VOC Emissions,SO2 Emissions
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,3.369630,14.490000,148995.708000,59.448818,2.491924,14.935772,50.144758,10.027946,1000.199354,273.747254,1.043678,0.105300,0.054611,0.055105
std,1.495677,8.584339,87068.385915,34.437175,1.446130,14.432900,28.787763,5.735533,28.789590,130.789943,0.548226,0.054933,0.025971,0.026076
min,0.800061,0.000000,56.000000,0.000664,0.000084,-9.995320,0.000843,0.003425,950.013001,50.045412,0.100056,0.010005,0.010005,0.010005
25%,2.080910,7.000000,73589.750000,29.502708,1.245908,2.331247,25.731917,5.060126,975.096398,158.448360,0.565941,0.057322,0.031919,0.032710
50%,3.361149,15.000000,148914.500000,59.701114,2.482625,15.013688,49.947395,10.052823,1000.787886,274.734257,1.047428,0.105113,0.054669,0.054948
75%,4.648033,22.000000,224359.500000,88.499982,3.747481,27.423980,75.273523,15.044782,1025.092893,387.958329,1.513206,0.153704,0.076847,0.077687
max,5.998532,29.000000,299863.000000,119.974725,4.999861,39.997848,99.993970,19.997502,1049.986720,499.996419,1.999954,0.199957,0.099993,0.099980

In [5]:
data.isnull()

,Vehicle Type,Fuel Type,Engine Size,Age of Vehicle,Mileage,Speed,Acceleration,Road Type,Traffic Conditions,Temperature,Humidity,Wind Speed,Air Pressure,CO2 Emissions,NOx Emissions,PM2.5 Emissions,VOC Emissions,SO2 Emissions,Emission Level
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
data.isnull().sum()

Vehicle Type          0
Fuel Type             0
Engine Size           0
Age of Vehicle        0
Mileage               0
Speed                 0
Acceleration          0
Road Type             0
Traffic Conditions    0
Temperature           0
Humidity              0
Wind Speed            0
Air Pressure          0
CO2 Emissions         0
NOx Emissions         0
PM2.5 Emissions       0
VOC Emissions         0
SO2 Emissions         0
Emission Level        0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the string categories to numerical labels
Vehicle_Type  = label_encoder.fit_transform( data['Vehicle Type'] )
Fuel_Type  = label_encoder.fit_transform( data['Fuel Type'] )
Road_Type  = label_encoder.fit_transform( data['Road Type'] )
Traffic_Conditions  = label_encoder.fit_transform( data['Traffic Conditions'] )
Emission_Level  = label_encoder.fit_transform( data['Emission Level'] )

In [10]:
data.columns

Index(['Vehicle Type', 'Fuel Type', 'Engine Size', 'Age of Vehicle', 'Mileage',
       'Speed', 'Acceleration', 'Road Type', 'Traffic Conditions',
       'Temperature', 'Humidity', 'Wind Speed', 'Air Pressure',
       'CO2 Emissions', 'NOx Emissions', 'PM2.5 Emissions', 'VOC Emissions',
       'SO2 Emissions', 'Emission Level'],
      dtype='object')

In [11]:
Dataset = pd.DataFrame({

    'Vehicle Type'          : Vehicle_Type              , 
    'Fuel Type'             : Fuel_Type                 , 
    'Engine Size'           : data['Engine Size']       , 
    'Age of Vehicle'        : data['Age of Vehicle']    , 
    'Mileage'               : data['Mileage']           ,
    'Speed'                 : data['Speed']             , 
    'Acceleration'          : data['Acceleration']      , 
    'Road Type'             : Road_Type                 , 
    'Traffic Conditions'    : Traffic_Conditions        ,
    'Temperature'           : data['Temperature']       , 
    'Humidity'              : data['Humidity']          , 
    'Wind Speed'            : data['Wind Speed']        , 
    'Air Pressure'          : data['Air Pressure']      ,
    'CO2 Emissions'         : data['CO2 Emissions']     , 
    'NOx Emissions'         : data['NOx Emissions']     , 
    'PM2.5 Emissions'       : data['PM2.5 Emissions']   , 
    'VOC Emissions'         : data['VOC Emissions']     ,
    'SO2 Emissions'         : data['SO2 Emissions']     , 
    'Emission Level'        : Emission_Level      
    
})
Dataset

,Vehicle Type,Fuel Type,Engine Size,Age of Vehicle,Mileage,Speed,Acceleration,Road Type,Traffic Conditions,Temperature,Humidity,Wind Speed,Air Pressure,CO2 Emissions,NOx Emissions,PM2.5 Emissions,VOC Emissions,SO2 Emissions,Emission Level
0,2,1,2.747609,22,291288,49.083255,1.887738,1,2,13.880458,52.883905,18.938861,955.411642,179.930088,1.085520,0.011548,0.096207,0.022936,2
1,0,1,5.743714,3,188398,23.460311,3.544147,0,1,19.136947,5.697343,14.716526,1035.763062,250.505219,1.285628,0.187112,0.073321,0.028021,2
2,0,2,4.606368,17,281451,115.508350,4.646886,1,0,8.123428,3.953116,18.644522,976.207064,404.979103,0.258189,0.132398,0.014744,0.075334,0
3,3,1,3.913024,4,151321,18.540217,3.581004,2,1,35.994893,0.509678,11.951859,966.919462,463.568608,1.040956,0.166325,0.093490,0.025324,0
4,3,2,1.611297,15,91810,109.596566,3.879303,1,2,14.793481,52.450884,2.761138,953.229351,79.514604,1.583390,0.078043,0.020396,0.024986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,1,5.259811,1,67323,60.526870,1.665292,1,2,0.107381,28.128314,9.221882,1034.277856,380.616106,0.977784,0.162235,0.089424,0.054463,0
9996,0,0,5.467046,5,252851,114.120190,1.174369,0,0,37.641697,20.696240,8.927107,958.678711,135.691599,0.338428,0.076185,0.077451,0.099687,1
9997,0,3,5.722881,8,44810,11.987215,0.598791,1,0,35.140403,86.267431,15.105582,1020.702178,315.706170,1.265111,0.082554,0.052279,0.088755,0
9998,0,2,2.866938,2,58719,95.832661,1.475712,2,1,-6.692706,64.800649,10.002372,1037.489415,210.794670,0.180733,0.062148,0.077239,0.055793,2
9999,1,3,1.929130,15,242020,40.137971,2.292448,2,0,16.066580,46.849574,15.712252,992.132708,422.860000,1.962348,0.045526,0.089488,0.062835,0

In [12]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle Type        10000 non-null  int64
 1   Fuel Type           10000 non-null  int64
 2   Engine Size         10000 non-null  float64
 3   Age of Vehicle      10000 non-null  int64
 4   Mileage             10000 non-null  int64
 5   Speed               10000 non-null  float64
 6   Acceleration        10000 non-null  float64
 7   Road Type           10000 non-null  int64
 8   Traffic Conditions  10000 non-null  int64
 9   Temperature         10000 non-null  float64
 10  Humidity            10000 non-null  float64
 11  Wind Speed          10000 non-null  float64
 12  Air Pressure        10000 non-null  float64
 13  CO2 Emissions       10000 non-null  float64
 14  NOx Emissions       10000 non-null  float64
 15  PM2.5 Emissions     10000 non-null  float64
 16  VOC Emissions       10000 non-null  float64
 17  SO2 Emissions       10000 non-null  float64
 18  Emission Level      10000 non-null  int64
dtypes: float64(12), int64(7)
memory usage: 1.4 MB

In [13]:
Dataset.shape

(10000, 19)

In [14]:
data.shape

(10000, 19)

In [16]:
X = pd.DataFrame( Dataset.drop( 'Emission Level' , axis = 1 ) )
y = pd.DataFrame( Dataset['Emission Level'])

In [17]:
X

,Vehicle Type,Fuel Type,Engine Size,Age of Vehicle,Mileage,Speed,Acceleration,Road Type,Traffic Conditions,Temperature,Humidity,Wind Speed,Air Pressure,CO2 Emissions,NOx Emissions,PM2.5 Emissions,VOC Emissions,SO2 Emissions
0,2,1,2.747609,22,291288,49.083255,1.887738,1,2,13.880458,52.883905,18.938861,955.411642,179.930088,1.085520,0.011548,0.096207,0.022936
1,0,1,5.743714,3,188398,23.460311,3.544147,0,1,19.136947,5.697343,14.716526,1035.763062,250.505219,1.285628,0.187112,0.073321,0.028021
2,0,2,4.606368,17,281451,115.508350,4.646886,1,0,8.123428,3.953116,18.644522,976.207064,404.979103,0.258189,0.132398,0.014744,0.075334
3,3,1,3.913024,4,151321,18.540217,3.581004,2,1,35.994893,0.509678,11.951859,966.919462,463.568608,1.040956,0.166325,0.093490,0.025324
4,3,2,1.611297,15,91810,109.596566,3.879303,1,2,14.793481,52.450884,2.761138,953.229351,79.514604,1.583390,0.078043,0.020396,0.024986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,1,5.259811,1,67323,60.526870,1.665292,1,2,0.107381,28.128314,9.221882,1034.277856,380.616106,0.977784,0.162235,0.089424,0.054463
9996,0,0,5.467046,5,252851,114.120190,1.174369,0,0,37.641697,20.696240,8.927107,958.678711,135.691599,0.338428,0.076185,0.077451,0.099687
9997,0,3,5.722881,8,44810,11.987215,0.598791,1,0,35.140403,86.267431,15.105582,1020.702178,315.706170,1.265111,0.082554,0.052279,0.088755
9998,0,2,2.866938,2,58719,95.832661,1.475712,2,1,-6.692706,64.800649,10.002372,1037.489415,210.794670,0.180733,0.062148,0.077239,0.055793
9999,1,3,1.929130,15,242020,40.137971,2.292448,2,0,16.066580,46.849574,15.712252,992.132708,422.860000,1.962348,0.045526,0.089488,0.062835

In [18]:
y

      Emission Level
0                  2
1                  2
2                  0
3                  0
4                  1
...              ...
9995               0
9996               1
9997               0
9998               2
9999               0

[10000 rows x 1 columns]

In [19]:
print( X.shape )
print( y.shape )

(10000, 18)
(10000, 1)

In [20]:
from sklearn.model_selection import train_test_split

# Perform the train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,  stratify = y  , random_state=2)

print( X_train.shape )
print( y_train.shape )

(7000, 18)
(7000, 1)

In [56]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

model = SVC(kernel='linear') 

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

print("Classification Report:")
print(classification_report(y_test, y_pred))

/home/abinesh/py-run/lib/python3.12/site-packages/sklearn/utils/validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.99
Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      1326
           1       0.99      0.99      0.99       692
           2       0.99      0.99      0.99       982

    accuracy                           0.99      3000
   macro avg       0.99      0.99      0.99      3000
weighted avg       0.99      0.99      0.99      3000

In [64]:
index = 4

test =  Dataset.drop( 'Emission Level' , axis = 1 ).iloc[index]

result = Dataset.iloc[index]
print( f'Actual Result : { list(result)[-1] }' )

testout = model.predict( [ test ] )
print(f'Result        : {  testout  }')

if( testout[0] == 0 ) :
    print("Result        : High")
elif( testout[0] == 1 ):
    print("Result        : Low ")
else :
    print("Result        : Medium")

Actual Result : 1.0
Result        : [1]
Result        : Low

/home/abinesh/py-run/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(